DATABASE_NAME=user
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=ChangeMe123!@#SecurePassword
DATABASE_PORT=5432

JWT_SECRET=ThisIsAVeryLongSecretKeyForJWTTokenGenerationThatShouldBeAtLeast256BitsLongPleaseChangeInProduction
JWT_ACCESS_EXPIRATION=900
JWT_REFRESH_EXPIRATION=604800

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:4200

APP_PORT=8080
SPRING_PROFILES_ACTIVE=prod

